@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  background: aliceblue;
  font-size: 1.8rem;
  height: 100vh;
}
ul {
  list-style: none;
}
.wrapper {
  width: 32.5rem;
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  text-align: center;
  margin: auto;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.container-header {
  position: fixed;
  top: 2rem;
}
.container-header h1 {
  font-size: 2.4rem;
  text-align: center;
  line-height: 110%;
  padding: 1.6rem 1.6rem 0 1.6rem;
  text-transform: uppercase;
  color: #3d3f66;
}
.container-header h1::after {
  content: '';
  width: 60%;
  height: 0.3rem;
  background-color: #7a55fd;
  display: flex;
  margin: 0.5rem auto;
}
.container-header h2 {
  padding: 0 1.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: #3d3f66;
  text-transform: uppercase;
}
.container-home {
  text-align: center;
  margin: 28rem auto;
}
.container-home h3 {
  text-transform: uppercase;
  color: #3d3f66;
  padding: 0 1.6rem;
}
.container-home p {
  color: #3d3f66;
  padding: 0 1.6rem;
}
.container-buttons {
  position: fixed;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.content-btn-up {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.6rem;
  gap: 0.5rem;
}

.content-btn-up .b1 {
  display: flex;
  width: 15rem;

  background-color: #ff6968;
  padding: 1.1rem 0;
  border-radius: 0.5rem;
  color: white;
}
.content-btn-up .b2 {
  display: flex;
  width: 15rem;

  background-color: #7a55fd;
  padding: 1.1rem 0;
  border-radius: 0.5rem;
  color: white;
}

.content-btn-down {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: auto;
  font-size: 1.6rem;
}

.content-btn-down .c1 {
  display: flex;
  justify-content: center;
  width: 15rem;
  background-color: #5863f9;
  padding: 1.1rem 0;
  border-radius: 0.5rem;
  color: white;
}
.content-btn-down .c2 {
  display: flex;
  justify-content: center;
  width: 15rem;
  background-color: #99db45;
  padding: 1.1rem 0;
  border-radius: 0.5rem;
  color: white;
}
.rodape .social-links ul {
  display: flex;
  gap: 1.2rem;
  font-size: 4rem;
  justify-content: center;
  margin-bottom: -0.8rem;
}
.rodape .social-links ul li {
  cursor: pointer;
}

.rodape {
  display: none;
  font-size: 1rem;
  text-align: center;
  color: #3d3f66;
}
.rodape a {
  text-decoration: none;
  color: inherit;
}
