@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  background: aliceblue;
  font-size: 1.8rem;
}
ul {
  list-style: none;
}
.wrapper {
  width: 30.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

h1 {
  font-size: 3.3rem;
  text-align: center;
  line-height: 110%;
  padding-top: 1.6rem;
  text-transform: uppercase;
}
h1::after {
  content: '';
  width: 80%;
  height: 0.3rem;
  background-color: blueviolet;
  display: flex;
  margin: 0.5rem auto;
}
h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 3rem;
}
span {
  text-align: center;
  margin: auto;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 2.4rem;
}

.container .b1 {
  display: flex;
  background-color: #ff6968;
  width: 14rem;
  height: 12rem;
  border-radius: 1rem;
  color: white;
}
.container .b2 {
  display: flex;
  background-color: #7a55fd;
  width: 14rem;
  height: 12rem;
  border-radius: 1rem;
  color: white;
}

.container2 {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 2.4rem;
}

.container2 .b3 {
  display: flex;
  background-color: #ff8560;
  width: 14rem;
  height: 12rem;
  border-radius: 1rem;
  color: white;
}
.container2 .b4 {
  display: flex;
  background-color: #29c2fb;
  width: 14rem;
  height: 12rem;
  border-radius: 1rem;
  color: white;
}

.container3 {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 2.4rem;
}
.container3 .c1 {
  display: flex;
  background-color: #5863f9;
  width: 14rem;
  height: 12rem;
  border-radius: 1rem;
  color: white;
}
.container3 .c2 {
  display: flex;
  background-color: #99db45;
  width: 14rem;
  height: 12rem;
  border-radius: 1rem;
  color: white;
}
.rodape .social-links ul {
  display: flex;
  gap: 1.2rem;
  font-size: 4rem;
  justify-content: center;
  margin-bottom: -0.8rem;
}
.rodape .social-links ul li {
  cursor: pointer;
}

.rodape {
  font-size: 1rem;
  text-align: center;
  color: blueviolet;
}
.rodape a {
  text-decoration: none;
  color: inherit;
}
